.movie {
  width: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie__trailer-link {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 151px;
}

.movie__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.movie__main {
  width: 100%;
  height: 59px;
  border-bottom: 1px solid var(--grey-color);
  padding-top: 14px;
  display: flex;
  justify-content: space-between;
}

.movie__title {
  max-width: 226px;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: var(--black-color);
}

.movie__button {
  background-color: #f9f9f9;
  width: 24px;
  height: 24px;
  border-radius: 36px;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.movie__button:hover {
  opacity: 0.8;
}

.movie__like-button {
  background-image: url(../../images/movie-like-disable.svg);
}

.movie__button_active {
  background-image: url(../../images/movie-like-active.svg);
}

.movie__delete-button {
  background-image: url(../../images/movie-delete.svg);
}

.movie__duration {
  padding-top: 6px;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  display: flex;
  align-items: center;
  color: var(--grey-text);
  width: 100%;
}

@media screen and (max-width: 800px) {
  .movie{
    width: 339px;
  }
  .movie__trailer-link {
    height: 190px;
  }
}

@media screen and (max-width: 520px) {
  .movie {
    width: 300px;
  }
  .movie__title {
    font-size: 12px;
    line-height: 15px;
  }

  .movie__duration {
    font-size: 10px;
    line-height: 12px;
  }

  .movie__main {
    padding-top: 15px;
  }

  .movie__trailer-link {
    height: 168px;
  }
}
