.profile {
  max-width: 410px;
  height: 100vh;
  max-height: 626px;
  margin: 0 auto;
  padding: 74px 0 70px;
  display: flex;
  flex-direction: column;
}

.profile__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-shrink: 0;
}

.profile__form {
  margin-top: 107px;
  display: flex;
  flex-direction: column;
}

.profile__form-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: var(--black-color);
  padding: 16px 0;
}

.profile__form-input {
  all: unset;
  width: 60%;
  text-align: right;
  transition: border 0.4s ease-in-out;
  padding: 5px;
}

.profile__form-input:focus {
  /* border-bottom: 1px solid var(--blue-color); */
  /* box-shadow: 0 0 10px #719ECE; */
  background-color: var(--light-grey-color);
}

.profile__form-input:invalid {
  color: var(--red-color);
}

.profile__separator {
  height: 1px;
  background-color: var(--grey-color);
}

.profile__buttons {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.profile__error {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  color: var(--red-color);
}

.profile__button {
  all: unset;
  cursor: pointer;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--black-color);
  transition: opacity 0.3s ease-in-out;
}

.profile__button:hover {
  opacity: 0.8;
}

.profile__button:last-child {
  font-weight: 500;
  color: #ff3055;
}

.profile__save-button {
  all: unset;
  cursor: pointer;
  width: 100%;
  height: 45px;
  background: var(--blue-color);
  border-radius: 3px;
  color: var(--white-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  transition: opacity 0.3s ease-in-out;
}

.profile__save-button:hover {
  opacity: 0.8;
}

.profile__save-button:disabled {
  background: #f8f8f8;
  color: #c2c2c2;
  border-radius: 3px;
  cursor: not-allowed;
}

@media screen and (max-width: 800px) {
  .profile {
    height: 100%;
    max-height: 950px;
    padding-top: 236px;
    padding-bottom: 269px;
  }

  .profile__form {
    margin-top: 80px;
  }

  .profile__buttons {
    margin-top: 194px;
  }
}

@media screen and (max-width: 520px) {
  .profile {
    max-height: 706px;
    min-width: 260px;
    padding: 70px 30px 40px;
  }

  .profile__form {
    margin-top: 64px;
  }

  .profile__buttons {
    margin-top: 363px;
  }

  .profile__button {
    font-size: 12px;
    line-height: 15px;
  }
}
