.form {
  max-width: 396px;
  height: 100vh;
  margin: 0 auto;
  padding: 70px 0 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 69px;
}

.form__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.form__title {
  margin: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.form__inputs {
  all: unset;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 83px;
  position: relative;
}

.form__error {
  position: absolute;
  left: 0;
  bottom: 65px;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: var(--red-color);
}

.form__options {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  width: 100%;
}

.form__button {
  all: unset;
  cursor: pointer;
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  background-color: var(--blue-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: var(--white-color);
  transition: opacity 0.3s ease-in-out;
}

.form__button:hover {
  opacity: 0.8;
}

.form__button:disabled {
  background: #f8f8f8;
  color: #c2c2c2;
  border-radius: 3px;
  cursor: not-allowed;
}

.form__question {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: var(--grey-text);
}

.form__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: var(--blue-color);
  text-decoration: none;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.form__link:hover {
  opacity: 0.7;
}

@media screen and (max-width: 520px) {
  .form {
    padding: 56px 30px 30px;
    justify-content: space-between;
    align-items: center;
    gap: 157px;
  }

  .form__content {
    width: 100%;
    align-items: center;
    gap: 50px;
  }

  .form__inputs {
    width: 100%;
    margin-top: 30px;
  }

  .form__options {
    gap: 14px;
  }

  .form__button,
  .form__question,
  .form__link {
    font-size: 12px;
    line-height: 15px;
  }
}
