.promo {
  width: 100%;
  height: calc(100vh - var(--header-height));
  max-height: 648px;
  background-color: var(--dark-color);
  display: flex;
}

.promo__container {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 75px 70px 85px;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.promo__logo {
  width: 310px;
  height: 304px;
}

.promo__text-container {
  display: flex;
  flex-direction: column;
  gap: 36px;
  flex: 1;
}

.promo__title,
.promo__caption {
  font-weight: 400;
  color: var(--white-color);
  margin: 0;
  padding: 0;
}

.promo__title {
  font-size: 50px;
  line-height: 58px;
  max-width: 640px;
}

.promo__caption {
  font-size: 13px;
  line-height: 16px;
  mix-blend-mode: normal;
  opacity: 0.5;
  max-width: 310px;
}

.promo__button {
  all: unset;
  width: 129px;
  height: 36px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  color: var(--white-color);
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.promo__button:hover {
  opacity: 0.7;
}

@media screen and (max-width: 900px) {
  .promo {
    min-height: 924px;
  }
  .promo__container {
    padding: 140px 30px 76px;
    flex-direction: column;
    align-items: center;
    gap: 48px;
  }

  .promo__text-container {
    gap: 22px;
    align-items: center;
  }

  .promo__title {
    font-size: 40px;
    line-height: 50px;
    text-align: center;
  }

  .promo__caption {
    text-align: center;
  }
}

@media screen and (max-width: 520px) {
  .promo {
    min-height: 710px;
  }

  .promo__container {
    padding: 70px 14px 30px;
    gap: 24px;
  }

  .promo__logo {
    width: 210px;
    height: 206px;
  }

  .promo__title {
    font-size: 30px;
    line-height: 38px;
    letter-spacing: -0.04em;
  }
}
