.form-input {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: var(--grey-text);
  position: relative;
}

.form-input__field {
  all: unset;
  cursor: pointer;
  padding: 5px 0 10px;
  border-bottom: 1px solid var(--grey-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: var(--black-color);
}

.form-input__field:focus {
  border-bottom-color: var(--blue-color);
}

.form-input__field:invalid {
  color: var(--red-color);
}

.form-input__error {
  position: absolute;
  top: 51px;
  left: 0;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: var(--red-color);
}
